
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #011638   ;
  --secondary-color: #2e294e ;
  --accent1-color: #eceaed;
  --accent2-color: #d499b9;
  --accent3-color: #e8c1c5;

  --heading-font: "Source Sans Pro", Helvetica, sans-serif;
  --paragraph-font: Oswald, Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  
  --headline-color-on-color: var(--accent1-color); 
  --paragraph-color-on-white: var(--secondary-color); 
  --paragraph-color-on-color: var(--accent1-color); 
  --paragraph-background-color: var(--primary-color);  
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 1rem auto;
  max-width: 50vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, 
header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 0.5em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: var(--accent3-color);
}
.colors td{
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
  color: var(--accent1-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--accent1-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
.accent3{
  background-color: var(--accent3-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
.example-card {
  border: solid 5px var(--secondary-color);
  border-radius: 20px;
  padding: 0 0.5em;
  margin-bottom: 1em;
}