@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@900&display=swap');

:root {
  --primary-color: #011638   ;
  --secondary-color: #2e294e ;
  --accent1-color: #eceaed;
  --accent2-color: #d499b9;
  --accent3-color: #e8c1c5;

  --heading-font: "Source Sans Pro", Helvetica, sans-serif;
  --paragraph-font: Oswald, Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  
  --headline-color-on-color: var(--accent1-color); 
  --paragraph-color-on-white: var(--secondary-color); 
  --paragraph-color-on-color: var(--accent1-color); 
  --paragraph-background-color: var(--primary-color);  
}

body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
/* img {
  display: block;
  margin: 1rem auto;
  max-width: 50vw;
} */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
}
header {
  padding: 1em;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, 
header > h2 {
  color: var(--headline-color-on-color);
}
header > h1 {
  padding: 0 3rem;
}
footer {
    padding: 1em;
    background-color: var(--paragraph-background-color);
}
footer > p {
    color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  padding: 0 0.5em;
}
.card {
  border: solid 5px var(--secondary-color);
  border-radius: 20px;
  padding: 0 0.5em;
  margin: 1em;
  height: max-content;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 1rem; */
}
nav > .navigation {
    background: var(--accent3-color);
    text-align: center;    
}
nav a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1em 2rem;
}
nav a:hover {
    background-color: var(--accent2-color);
}
#menu-button {
	font-size: 20px;
	border: 1px solid rgba(0,0,0,.3);
	/* padding: 6px 10px; */
 	position: absolute;
	top: 65px;
	right: 22px;
  height: 30px;
  width: 30px;
}

#menu-button::before {
	content: "☰";
}

#menu-button.open::before {
	content: "⨉";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation a {
	display: none;
}
.open a {
	display: block;
}
#spotlights > div {
  /* border: solid 1px black; */
  margin: 1rem 0;
}
#hero {
  position: relative;
  /* max-height: 250px; */
}

/* Toggle Switch */
.switch > span {
  display: inline-block;
  position: absolute;
	top: 5px;
	right: 8px;
  font-size: .5rem;
  font-weight: 700;
  color: #fff;
}
.switch label {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
	top: 22px;
	right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	/* padding: 1.5rem; */
	box-shadow: 0 0 3rem #fff;
	opacity: 0.85;
	/* Buenas */
}

.herolabel button {
	margin: 0;
	padding: 1rem;
	font-weight: 700;
	font-size: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  box-shadow: 0px 0px 20px var(--accent2-color);
}