@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@900&display=swap');

:root {
  --primary-color: #011638   ;
  --secondary-color: #2e294e ;
  --accent1-color: #eceaed;
  --accent2-color: #d499b9;
  --accent3-color: #e8c1c5;

  --heading-font: "Source Sans Pro", Helvetica, sans-serif;
  --paragraph-font: Oswald, Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  
  --headline-color-on-color: var(--accent1-color); 
  --paragraph-color-on-white: var(--secondary-color); 
  --paragraph-color-on-color: var(--accent1-color); 
  --paragraph-background-color: var(--primary-color);  
}

body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
}
header {
  padding: 1em;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, 
header > h2 {
  color: var(--headline-color-on-color);
}
header > h1 {
  padding: 0 3rem;
}
footer {
    padding: 1em;
    background-color: var(--paragraph-background-color);
}
footer > p {
    color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  padding: 0 0.5em;
}
.card {
  border: solid 5px var(--secondary-color);
  border-radius: 20px;
  padding: 0 0.5em;
  margin: 1em;
  height: max-content;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 1rem; */
}
nav > .navigation {
    background: var(--accent3-color);
    text-align: center;    
}
nav a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1em 2rem;
}
nav a:hover {
    background-color: var(--accent2-color);
}
#menu-button {
	font-size: 20px;
	border: 1px solid rgba(0,0,0,.3);
	/* padding: 6px 10px; */
 	position: absolute;
	top: 65px;
	right: 22px;
  height: 30px;
  width: 30px;
}

#menu-button::before {
	content: "☰";
}

#menu-button.open::before {
	content: "⨉";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation a {
	display: none;
}
.open a {
	display: block;
}
#spotlights > div {
  /* border: solid 1px black; */
  margin: 1rem 0;
}
#hero {
  position: relative;
  /* max-height: 250px; */
}

/* Toggle Switch */
.switch > span {
  display: inline-block;
  position: absolute;
	top: 3px;
	right: 7px;
  font-size: .8rem;
  font-weight: 700;
  color: #fff;
}
.switch label {
  display: inline-block;
  /* width: 60px; */
  height: 34px;
  position: absolute;
	top: 22px;
	right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .text {
  position: relative;
  top: -22px;
  left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


#hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 100%;
}

.herolabel button {
	margin: 0;
	padding: 1rem;
	font-weight: 700;
	font-size: 1.5rem;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 20px var(--accent2-color);
}
.herolabel a {
  color: var(--accent1-color);
  text-decoration: none;
}
#visit-message {
  color:  var(--accent1-color) !important;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
}
#discover-main-area img {
  margin-top: 10px;
  border-radius: 5px;
}

form {
  margin: 2rem 1rem;
}
form legend {
  color: var(--secondary-color);
  border: double var(--accent1-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  padding: .5rem 8rem;
  font-weight: 800;
  font-size: 20px;
}
form fieldset {
  border-radius: 10px;
  border: double;
}

form label.top {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}
form label.top input, 
form label.top select {
  display: block;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--accent2-color);
  /* border-radius: 4px; */
  padding: 0.75rem;
  color: var(--primary-color);
  width: 100%;
  max-width: -webkit-fill-available;;
  background-color: transparent;
}

form .submitBtn {
  background-color: var(--accent3-color);
  color: var(--primary-color);
  margin: 1rem 2rem;
  padding: 2rem 5rem;
  font-size: 2rem;
  border: 10px solid var(--accent2-color);
  border-radius: 30px;
  font-weight: 900;
}

#thankyou {
  margin: 5rem auto;
  grid-column: 1/4;
  font-size: 50px;
}


/* table */
thead tr:first-child th {
	/* background-color: var(--accent2-color); */
	color: var(--secondary-color);
  border: none;
  color: var(--secondary-color);
}
thead tr :not(th:first-child) {
	background-color: var(--secondary-color);
	color: #fff;
}
table {
  grid-column: 2/4;
	margin: 2rem auto;
	/* border: thin solid grey; */
	border-collapse: collapse;
  height: 30%;
  width: max-content;
}

caption {
	padding: 15px;
	caption-side: bottom;
	color: #000;
	font-size: .85rem;
}
thead tr:first-child th::before,
thead tr:first-child th::after {
  content: " ★★★ ";
}

th, td {
	padding: 7px 15px;
	border: 1px solid grey;
}

th {
	font-size: larger;
}

td {
	text-align: center;
  width: 5rem;
}

tbody td:nth-child(even) {
	background-color: var(--accent3-color);
}
tbody th {
  background-color: var(--secondary-color);
  color: #fff;
}

.membership-benefits {
  display: none;
}

/* directory */
#directory-main {
  display: block;
  /* background: #fff !important; */
}
.directory-menu {
  padding: 1rem;
}
.directory-menu button{
  border: 3px solid var(--accent1-color);
  border-radius: 10px;
  margin: 0 1rem;
  padding: .5rem 1rem;
}
.directory-menu button:hover,
.directory-menu button:focus {
  border-color: var(--accent2-color);
}
.directory-menu button img {
  width: 3rem;
  height: 3rem;
}
.show-in-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 5px;
	align-items: center;
}
.show-in-grid section {
	border: 3px solid var(--accent3-color);
  border-radius: 5px;
	padding: 2rem 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 10px black;
}
#directory-main section:hover {
  box-shadow: 0px 0px 20px black;
}
.show-in-list {
	display: flex;
	flex-direction: column;
  margin-bottom: 2rem;
}
.show-in-list section {
	width: 80%;
  border: none !important;
  margin: 0.2rem auto;
  padding: .5rem 0;
  text-align: left;
}
.show-in-list section h3,
.show-in-list section a {
  text-align: left;
  margin: 0 .5rem;
  line-height: 3rem;
}
.show-in-list section img {
	display: none;
}
.show-in-list section:nth-child(odd) {
	background-color: var(--accent1-color);
}
.show-in-grid img {
	height: 100px;
	max-width: 100%;
}

.dark-mode-for-main {
  background : #011638 !important;
}
.dark-mode-for-card{
  background-color: #2e294e !important;
  color: #fff !important;
  border: solid 3px #e8c1c5 !important;
}
.dark-mode-for-h3{
  color: #fff !important;
}
.dark-mode-for-p {
  color : #fff !important;
}

.light-mode-for-main {
  background : #fff !important;
  color: #2e294e !important;
}
.light-mode-for-card{
  background-color: #fff !important;
  color: #000 !important;
  border: solid 3px #2e294e !important;
}
.current-weather,
.current-weather * {
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
#forecast-weather {
  display: flex;
}
.current-weather {
  box-shadow: 0 0 15px var(--accent3-color);
  border: double 3px var(--accent2-color);
  border-radius: 10px;
  padding-bottom: .5rem;
}
#forecast-weather section {
  margin: .5rem;
  padding: 0 .5rem;
  width: 33%;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--secondary-color);
}
/* banner */
.banner {
  display: none;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
.banner:hover {
  background-color: var(--accent3-color);
}
.banner p {
  padding: 10px;
  font: inherit;
}

#closeBannerBtn {
  display: flex;
  float: right;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
#spotlights > section {
  padding: 10px 0;
}
/* #spotlights img {
  width: 40%;
} */
#spotlights .card {
  border-right: none;
  border-left: none;
  border-radius: 20%;
}